*{
    padding: 0;
    margin:0;
}
h1{
    font-size: 40px;
    padding: 20px 0;
    text-align: center;
    color: white;
    background-color: #1B2440 ;
}
nav{
    background-color: #1B2440;
    border:1px solid white;
    display: flex;
    justify-content: space-around;
    overflow-x: scroll;

}

nav a{
    padding: 15px 15px;
    color: white;
    border:1px solid transparent;
    font-size: 18px;
}
nav a:hover{
    background-color: #878C9A;
}


.tickets-container{
    display: flex;
    gap:40px;
    flex-wrap: wrap;
    padding: 20px 20px;
    justify-content: center;
    align-items: center;
}


.tickets-container > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    max-width: 320px;
    background-color: #878C9A;
    border-radius: 20px;
    padding: 10px 0;
    
}

.tickets-container div p{
    padding: 4px 10px;
}

.tickets-container div h2{
    text-align: center;
    padding:20px 0px 10px 0px;
    border: 1px solid transparent;
}
.tickets-container div button{
    background-color: white;
    padding: 10px 20px;
}